<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <style>
      table {
        border-collapse: collapse;
      }

      td{
        border: 1px solid black;
        padding: 5px;
        width: 180px;
        height: 180px;
        text-align: center;
        cursor: pointer;
        font-size: 4em;
        color: #555;
      }

      img{
        max-width: 140px;
        max-height: 140px;
        margin: 10px;
      }


    </style>

  </head>
  <body>
    <div id="app">
      Image Category <input v-model="nextImageCategory">
      PairCount <input v-model.number="pairCount" type="number">
      <button v-on:click="reset">Reset</button>
      <br><br>
      <table>
        <tr v-for="(cardRow, rowIndex) in cardRows">
          <td v-for="(cardValue, colIndex) in cardRow" v-on:click="clickCard(colIndex, rowIndex)">
              <div v-html="cardDisplayVal(colIndex, rowIndex)"></div>
          </td>
        </tr>
      </table>
      <h1>Tries: {{ tries }}</h1>
      <h1>Found</h1>
      <div>
        <img v-for="num in found" v-bind:src="getImageUrlByNum(num)" /> 
        <span v-if="winState">You win!</span>
      </div>
    </div>

    <script>

      function findWidth(num){

        var attempt = Math.ceil(Math.sqrt(num));
        while(num % attempt){
          attempt += 1;
        }
        return attempt;
      }

      var delay = 1000;

      new Vue({
        el: '#app',
        data() {
          return {
            imageUrls: {},
            imageCategory: null,
            nextImageCategory: "dog",
            pairCount: 6,
            cardRows: [[]],
            turned: [],
            found: [],
            tries: 0
          }
        },
        computed: {
          foundList(){
            return this.found.join(", ");
          },
          winState(){
            return this.found.length == this.pairCount;
          }
        },

        mounted(){
          this.init();
        },
        methods: {
          reset(){
            if(this.tries > 0 && !this.winState){
              var really = confirm("Reset game?");
              if(!really){return;}
            }
            this.init();
          },
          setImageUrls(){

            // if we've already retrieved for this search...
            if(_.has(this.imageUrls, this.imageCategory)){return;}

            // set up the request parameters
            const params = {
              api_key: "D4914FBBCC7E48479A8602272CAA7D58",
              q: this.imageCategory,
              search_type: "images",
              images_size: "medium",
              images_usage: "non_commercial_reuse"
            }


            // make the http GET request to Scale SERP
            axios.get('https://api.scaleserp.com/search', { params })
              .then(response => {

                this.imageUrls[this.imageCategory] = response.data.image_results.map(result => result.image);

              }).catch(error => {
                // catch and print the error
                console.log(error);
              });
          },
          init(){
            this.imageCategory = this.nextImageCategory;
            this.tries = 0;
            this.turned = [];
            this.found = [];
            this.tries = 0;
            this.cardRows = this.generateCardRows();
            this.setImageUrls();
          },
          generateCardRows(){
            var fullSet = [];
            var half = Array(this.pairCount).fill().map((val, idx) => 1 + idx);
            fullSet = fullSet.concat(half).concat(half);
            var shuffled = _.shuffle(fullSet);

            var width = findWidth(this.pairCount * 2);
            return _.chunk(shuffled, width);
          },

          clickCard(colIndex, rowIndex){
            var key = this.getKey(colIndex, rowIndex);

            if(_.contains(this.found, key)){
              return;
            }

            if(_.contains(this.turned, key)){
              return;
            }
            if(this.turned.length >= 2){
              return;
            }
            this.turned.push(key);

            if(this.turned.length == 2){
              this.tries += 1;
              var val1 = this.getValByKey(this.turned[0]);
              var val2 = this.getValByKey(this.turned[1]);
              setTimeout(()=>{
                this.turned = [];
                if(val1 == val2){
                  this.found.push(val1);
                }
              }, delay);   
            }
          },
          getImageUrlByNum(num){
            return this.imageUrls[this.imageCategory][num];
          },

          cardDisplayVal(colIndex, rowIndex){

            var key = this.getKey(colIndex, rowIndex);
            var val = this.getValByKey(key);

            if(_.contains(this.found, val)){
              return " ";
            }

            if(_.contains(this.turned, key)){
              var val = this.getValByKey(key);
              var imageUrl = this.getImageUrlByNum(val);
              return "<img src='" + imageUrl + "'>";
            }
            
            return 'X';
          },

          getKey(colIndex, rowIndex){
            return colIndex + '-' + rowIndex;
          },
          getValByKey(key){
            var parts = key.split('-');
            var colIndex = parts[0];
            var rowIndex = parts[1];
            return this.cardRows[rowIndex][colIndex];
          }
        }
      });
    </script>

  </body>
</html>