<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://unpkg.com/vuex"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
    <style>
      table {
        border-collapse: collapse;
      }

      td{
        border: 1px solid black;
        padding: 5px;
      }


    </style>

  </head>
  <body>
    <div id="app">
      <table>
        <tr v-for="(cardRow, rowIndex) in cardRows">
          <td v-for="(cardValue, colIndex) in cardRow" :key="getKey(colIndex, rowIndex)">
            <div v-on:click="turnCard(getKey(colIndex, rowIndex))">
              <span v-if="displayCard(getKey(colIndex, rowIndex))">{{ cardValue }}</span>
              <span v-else>C</span>
            </div>
          </td>
        </tr>
      </table>

    </div>

    <script>

      new Vue({
        el: '#app',
        data() {
          return {
            cardRows: [[4,2,1],[3,6,5]],
            displayed: []
          }
        },
        computed: {
        },
        methods: {
          displayCard(key){
            return _.contains( this.displayed, key );
          },
          turnCard(key){
            if(this.displayCard(key)){
              this.displayed = _.without(this.displayed, key);
            }else{
              this.displayed.push(key);
            }
          },
          getKey(colIndex, rowIndex){
            return colIndex + '-' + rowIndex;
          }
        }
      });
    </script>

  </body>
</html>